@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --blue-300: #93c5fd;
    --blue-950: #172554;

    --main-font: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

.container {
    padding: 36px;
}

.content {
    display: grid;
    grid-template-columns: 0.7fr 3fr 1fr;
    gap: 26px;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.aside-menu-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.aside-menu-options {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    width: 100%;
}

.aside-menu-options ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.aside-menu-options ul li {
    width: 100%;
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 18px; 
    display: flex;
    align-items: center;
    gap: 12px;
    list-style-type: none;
    cursor: pointer;
    font-weight: 500;
}

.aside-menu-options ul li:hover {
    background-color: var(--blue-300);
    color: #FFFFFF;
    transition: .2s;
}

.aside-menu-options ul li:hover .lucide {
    stroke: #FFFFFF;
}

.aside-menu-options-selected {
    background-color: var(--blue-300);
    color: #FFFFFF;
}

.feed {
    padding: 12px;
}

.feed-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed-menu ul {
    display: flex;
    gap: 12px;
}

.feed-menu ul li {
    list-style-type: none;
}

.aside-suggestions {
    padding: 12px;
}

.suggestions {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 24px;
}

.suggestions-items {
    width: 100%;;
    display: grid;
    grid-template-columns: auto 1fr .7fr;
}

.suggestions-items div {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.suggestions-items img {
    justify-self: center;
}

.suggestions-items button{
    background-color: var(--blue-950);
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    height: 38px;
    align-self: center;
    transition: .2s;
}

.suggestions-items button:hover{
    background-color: var(--blue-300);
}

.hidden {
    display: none;
}