@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main-font: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
}

.container {
    display: flex;
    gap: 20px;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 920px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container-img {
    width: 50%;
    border-radius: 8px;
    object-fit: cover;
}

.container-logo {
    width: 40px;
    height: 40px;
}

.container form {
    width: 50%;
}

.login {
    height: 380px;
}

.signup {
    height: 550px;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    position: relative;
    margin-bottom: 15px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input, .form-control select{
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    background-color: #FFFFFF;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    padding: 10px;
    background-color: #489ed7;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}

.form-control .icon {
    position: absolute;
    right: 10px;
    top: 71%;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
}

.other-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
}

a {
    color: #363636;
}

#spinner {
    transform-origin: center;
}

.font-red {
    color: #ef4444;
}

.border-red {
    border: 1px solid #ef4444 !important;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container-avatar {
    display: flex;
    gap: 20px;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 600px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.form-avatar {
    width: 100%;
    text-align: center;
}

.form-avatar p {
    font-size: 26px;
    font-weight: 500;
}

.btn-submit-avatar {
    width: 50%;
}

input[type="file"].avatar-input {
    display: none;
}

.custom-avatar-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    margin: 6px 0 8px 0;
    font-size: 14px;
    transition: .3s;
}

.custom-avatar-input:hover {
    border: 1px solid #489ed7;
    color: #489ed7;
}

.avatar-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 16px 0;
}

#icon-avatar {
    width: 100px;
    height: 100px;
    color: #BDBDBD; 
    cursor: pointer;
    border-radius: 50%; 
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    overflow: none;
}