@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --input-background: #f9fafb;
    --border-color: #eaebef;
    --label-color: #a8adb7;
    --button-color: #192126;

    --alert-error: #f7d7da;
    --alert-error-title : #723036;
    --alert-error-border: #f5c3c8;

    --main-font: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.fields-left, .fields-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; 
    width: 720px;
}

.fields-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.fields-form .input-box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--input-background);
    padding: 6px;
}

.fields-form .input-box label {
    font-size: 12px;
    color: var(--label-color);
    margin-bottom: 4px;
}

.fields-form .input-box input {
    border: 0;
    background-color: var(--input-background);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 2px 4px;
}

.fields-form .input-box input::placeholder {
    color: #000;
}

.fields-form .input-box input:focus {
    outline: none;
} 

.fields-form .input-box select{
    background-color: var(--input-background);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 2px 4px;
}

.btn-black {
    cursor: pointer;
    background-color: var(--button-color);
    color: #FFF;
    border-radius: 8px;
    font-weight: bold;
    padding: 12px;
}

.alert-container {
    height: 40px;
    text-align: center;
}

.alert-box {
    background-color: var(--alert-error);
    border-radius: 8px;
}

.alert{
    color: var(--alert-error-title);
    padding: 4px;
    border-radius: 8px;
    border: 1px solid var(--alert-error-border);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#spinner {
    transform-origin: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
